*, *:before, *:after {
  box-sizing: border-box;
}



.col {
    float: left;
}
.col-1 {
  width: 60%;
  border-style: solid;
}
.col-2 {
  width: 40%;
  border-style: solid;
  border-color: red;
}